{% extends "layout2.html" %}
{% block title2 %}Ajustes{% endblock title2 %}
{% block title %}Editar usuario{% endblock title %}
{% block usuario %}{{usr}}{% endblock usuario %}
{% block content %}
<form action="/EditUser" method="POST" class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nombre Completo</label>
        <input type="text" class="form-control" name="nombre" value="{{use[0][0]}}">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nombre de inicio de sesión</label>
        <input type="text" class="form-control" name="username" value="{{use[0][1]}}">
      </div>
      <div class="col-12">
        <label for="inputPassword4" class="form-label">Contaseña</label>
        <input type="password" class="form-control" name="passwd" value="{{use[0][2]}}">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Rol</label>
        <select name="rol" class="form-select">
          {% if use[0][3] == 2 %}
          <option selected>Admin</option>
          <option>Monitor</option>
          {% elif  use[0][3] == 1 %}
          <option>Admin</option>
          <option selected>Monitor</option>
          {% endif %}
          
        </select>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" name="user" value="{{id}}">Guardar</button>
      </div>
</form>

{% endblock content %}