USE [master]
GO
/****** Object:  Database [DB_RECOLECCION]    Script Date: 11/09/2023 5:13:07 p. m. ******/
CREATE DATABASE [DB_RECOLECCION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_RECOLECCION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_RECOLECCION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_RECOLECCION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_RECOLECCION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_RECOLECCION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_RECOLECCION]
GO
/****** Object:  Table [dbo].[TB_BASUREROS]    Script Date: 11/09/2023 5:13:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_BASUREROS](
	[ID_BASURERO] [int] IDENTITY(1,1) NOT NULL,
	[DETALLE_UBICACION] [varchar](200) NOT NULL,
	[COORDENADAS] [varchar](100) NOT NULL,
	[TIPO_BASURERO] [smallint] NOT NULL,
	[NUM_CONTENEDORES] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BASURERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Basureros]    Script Date: 11/09/2023 5:13:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Basureros]
AS
SELECT ID_BASURERO, DETALLE_UBICACION, TIPO_BASURERO ,NUM_CONTENEDORES FROM TB_BASUREROS
GO
/****** Object:  View [dbo].[V_BASUCOORD]    Script Date: 11/09/2023 5:13:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_BASUCOORD]
AS
SELECT ID_BASURERO, DETALLE_UBICACION, COORDENADAS, NUM_CONTENEDORES FROM TB_BASUREROS
GO
/****** Object:  Table [dbo].[TB_USUARIOS]    Script Date: 11/09/2023 5:13:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](30) NOT NULL,
	[PASSWD] [varchar](20) NOT NULL,
	[ROL] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_LISTAUSER]    Script Date: 11/09/2023 5:13:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LISTAUSER]
AS
SELECT ID_USUARIO, NOMBRE FROM TB_USUARIOS
GO
/****** Object:  Table [dbo].[TB_REPORTES]    Script Date: 11/09/2023 5:13:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_REPORTES](
	[ID_REPORT] [int] IDENTITY(1,1) NOT NULL,
	[UBICACION_REPORT] [varchar](100) NULL,
	[NOMBRE_ARCHIVO] [varchar](80) NULL,
	[DETALLES] [varchar](max) NULL,
	[FECHA] [date] NULL,
	[TIPO] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_REPORTES]    Script Date: 11/09/2023 5:13:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_REPORTES]
AS
SELECT ID_REPORT, NOMBRE_ARCHIVO, DETALLES, FECHA FROM TB_REPORTES
GO
/****** Object:  Table [dbo].[TB_DATA_HISTORICA]    Script Date: 11/09/2023 5:13:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DATA_HISTORICA](
	[ID_BASURERO] [int] NOT NULL,
	[FECHA_VACIO] [datetime] NOT NULL,
	[FECHA_LLENADO] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_BASUREROS] ON 

INSERT [dbo].[TB_BASUREROS] ([ID_BASURERO], [DETALLE_UBICACION], [COORDENADAS], [TIPO_BASURERO], [NUM_CONTENEDORES]) VALUES (7, N'Parque Central de Santiago', N'8.097376, -80.983128', 1, 2)
INSERT [dbo].[TB_BASUREROS] ([ID_BASURERO], [DETALLE_UBICACION], [COORDENADAS], [TIPO_BASURERO], [NUM_CONTENEDORES]) VALUES (8, N'Parque La Amistad', N'8.095923, -80.982879', 2, 2)
INSERT [dbo].[TB_BASUREROS] ([ID_BASURERO], [DETALLE_UBICACION], [COORDENADAS], [TIPO_BASURERO], [NUM_CONTENEDORES]) VALUES (9, N'Parada frente al Hotel Piramidal', N'8.100513, -80.966507', 1, 2)
SET IDENTITY_INSERT [dbo].[TB_BASUREROS] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_REPORTES] ON 

INSERT [dbo].[TB_REPORTES] ([ID_REPORT], [UBICACION_REPORT], [NOMBRE_ARCHIVO], [DETALLES], [FECHA], [TIPO]) VALUES (1, N'OTRO LUGAR', N'VACIADO CALLE 8', N'NO NOTIFICA QUE SE VACIO', CAST(N'2023-10-12' AS Date), N'DAÑO')
INSERT [dbo].[TB_REPORTES] ([ID_REPORT], [UBICACION_REPORT], [NOMBRE_ARCHIVO], [DETALLES], [FECHA], [TIPO]) VALUES (3, N'Desconocida', N'Fallo de conexion', N'Se desconectaron cables debido a fuertes vientos', CAST(N'2023-11-07' AS Date), N'Daño')
SET IDENTITY_INSERT [dbo].[TB_REPORTES] OFF
GO
SET IDENTITY_INSERT [dbo].[TB_USUARIOS] ON 

INSERT [dbo].[TB_USUARIOS] ([ID_USUARIO], [USERNAME], [PASSWD], [ROL], [NOMBRE]) VALUES (1, N'ADMIN', N'CONTRASENIA', 1, N'ADMINISTRADOR')
INSERT [dbo].[TB_USUARIOS] ([ID_USUARIO], [USERNAME], [PASSWD], [ROL], [NOMBRE]) VALUES (2, N'jpvisor', N'CONTRASENIA', 2, N'Jose Peñalba')
INSERT [dbo].[TB_USUARIOS] ([ID_USUARIO], [USERNAME], [PASSWD], [ROL], [NOMBRE]) VALUES (6, N'estebandido', N'alberto', 1, N'Esteban Hernandez')
SET IDENTITY_INSERT [dbo].[TB_USUARIOS] OFF
GO
ALTER TABLE [dbo].[TB_DATA_HISTORICA]  WITH CHECK ADD  CONSTRAINT [FK_BASURERO_HISTORIA] FOREIGN KEY([ID_BASURERO])
REFERENCES [dbo].[TB_BASUREROS] ([ID_BASURERO])
GO
ALTER TABLE [dbo].[TB_DATA_HISTORICA] CHECK CONSTRAINT [FK_BASURERO_HISTORIA]
GO
/****** Object:  StoredProcedure [dbo].[PRO_ADDBASU]    Script Date: 11/09/2023 5:13:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_ADDBASU] (
	@UBI VARCHAR(200),
	@COOR VARCHAR(100),
	@TIPO SMALLINT,
	@CONT TINYINT
)
AS
BEGIN
	IF @UBI = '' OR @COOR = '' OR @TIPO = ''
	BEGIN
		RAISERROR('ARGUMENTOS FALTANTES', 16, 1);
	END
	INSERT INTO TB_BASUREROS (DETALLE_UBICACION, COORDENADAS, TIPO_BASURERO, NUM_CONTENEDORES)
	VALUES (@UBI, @COOR, @TIPO, @CONT)
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_ADDREPORT]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_ADDREPORT] (
	@UBI VARCHAR(100),
	@NOMBRE VARCHAR (80),
	@DETALLE VARCHAR(MAX),
	@FECHA DATE,
	@TIPO VARCHAR(10)
)
AS
BEGIN
	IF @NOMBRE = '' OR @DETALLE = ''
	BEGIN
		RAISERROR ('ERROR ELEMENTOS INCOMPLETOS', 16,1);
		RETURN;
	END
	
	INSERT INTO TB_REPORTES (UBICACION_REPORT, NOMBRE_ARCHIVO, DETALLES, FECHA, TIPO)
	VALUES (@UBI, @NOMBRE, @DETALLE, @FECHA, @TIPO)
END;
GO
/****** Object:  StoredProcedure [dbo].[PRO_ADDUSER]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_ADDUSER] (
	@USERNAME VARCHAR(30),
	@PASS VARCHAR(20),
	@NOMBRE VARCHAR(100),
	@ROL SMALLINT
)
AS
BEGIN
	IF @USERNAME = '' OR @PASS = '' OR @NOMBRE = '' OR @ROL = ''
	BEGIN
		RAISERROR('ELEMENTO(S) FALTANTES', 16, 1);
		RETURN;
	END
	INSERT INTO TB_USUARIOS (USERNAME, PASSWD, NOMBRE, ROL)
	VALUES (@USERNAME, @PASS, @NOMBRE, @ROL)
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_DELEBASU]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_DELEBASU] (
	@ID INT
)
AS
BEGIN
	IF @ID = ''
	BEGIN
		RAISERROR('ERROR DE IDENTIFICADOR', 16, 1);
		RETURN;
	END
	DELETE FROM TB_BASUREROS WHERE ID_BASURERO = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_DELEREPORT]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_DELEREPORT](
	@ID INT
)
AS
BEGIN
	IF @ID = ''
	BEGIN
		RAISERROR('ERROR DE IDENTIFICADOR', 16, 1);
		RETURN;
	END
	DELETE FROM TB_REPORTES WHERE ID_REPORT = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_DELEUSER]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_DELEUSER](
	@ID INT
)
AS
BEGIN
	IF @ID = ''
	BEGIN
		RAISERROR('ERROR DE DATOS', 16, 1);
		RETURN;
	END
	DELETE FROM TB_USUARIOS WHERE ID_USUARIO = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_EDITBASU]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_EDITBASU] (
	@ID INT,
	@UBI VARCHAR(200),
	@COOR VARCHAR(100),
	@TIPO SMALLINT,
	@CONT TINYINT
)
AS
BEGIN
	IF @ID = ''
	BEGIN
		RAISERROR('IDENTIFICADOR INVALIDO', 16, 1);
		RETURN;
	END
	UPDATE TB_BASUREROS SET
	NUM_CONTENEDORES = @CONT,
	DETALLE_UBICACION = @UBI,
	COORDENADAS = @COOR,
	TIPO_BASURERO = @TIPO
	WHERE ID_BASURERO = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_EDITREPORT]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_EDITREPORT] (
	@ID INT,
	@UBI VARCHAR(100),
	@NOMBRE VARCHAR (80),
	@DETALLE VARCHAR(MAX),
	@FECHA DATE,
	@TIPO VARCHAR(10)
)
AS
BEGIN
	IF @ID = ''
	BEGIN
		RAISERROR('SIN IDENTIFICADOR', 16, 1);
		RETURN;
	END
	UPDATE TB_REPORTES SET
	UBICACION_REPORT = @UBI,
	NOMBRE_ARCHIVO = @NOMBRE,
	DETALLES = @DETALLE,
	FECHA = @FECHA,
	TIPO = @TIPO
	WHERE ID_REPORT = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_EDITUSER]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_EDITUSER] (
	@ID INT,
	@USERNAME VARCHAR(30),
	@PASS VARCHAR(20),
	@NOMBRE VARCHAR(100),
	@ROL SMALLINT
)
AS
BEGIN
	IF @ID = ''
	BEGIN
		RAISERROR('DATOS FALTANTES', 16, 1);
		RETURN;
	END
	UPDATE TB_USUARIOS SET
	NOMBRE = @NOMBRE,
	USERNAME = @USERNAME,
	PASSWD = @PASS,
	ROL = @ROL
	WHERE ID_USUARIO = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_SELECBASU]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_SELECBASU] (
	@ID INT
)
AS
BEGIN
	IF @ID = ''
	BEGIN
		RAISERROR('NO ENCONTRADO', 16, 1);
		RETURN;
	END
	SELECT * FROM TB_BASUREROS WHERE ID_BASURERO = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_SELECREPORT]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_SELECREPORT] (
	@ID INT
)
AS
BEGIN
	IF @ID = ''
	BEGIN
		RAISERROR('NO ENCONTRADO', 16, 1);
		RETURN;
	END
	SELECT * FROM TB_REPORTES WHERE ID_REPORT = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_SELECUSER]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_SELECUSER] (
	@ID INT
)
AS
BEGIN
	IF @ID = ''
	BEGIN
		RAISERROR('NO SE ENCONTRO', 16, 1);
		RETURN;
	END
	SELECT NOMBRE, USERNAME, PASSWD, ROL FROM TB_USUARIOS
	WHERE ID_USUARIO = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRO_SESSION]    Script Date: 11/09/2023 5:13:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRO_SESSION] (
	@username VARCHAR(50),
	@password VARCHAR(50)
)
AS
BEGIN
	IF @username = '' OR @password = ''
	BEGIN
		RAISERROR ('ERROR EN INICIO DE SESSION', 16, 1);
		RETURN;
	END

	SELECT ID_USUARIO, NOMBRE, ROL FROM TB_USUARIOS
	WHERE USERNAME = @username AND PASSWD = @password;
END;
GO
USE [master]
GO
